<h2>Cats</h2>
<ul>
<% @cats.each do |e| %>
	<li><%= e.name %></li>
<% end %>
</ul>

<h2>Users</h2>
<ol>
<% @users.each do |e| %>
  <li>Name: <%= e.name %>
    <ul>
      <li>Email: <%= e.email %></li>
      <li>Age: <%= e.age %></li>
    </ul>
  </li>
<% end %>
</ol>

<h2>Todo List</h2>
<p>Tasks:</p>
<ul>
<% @todos.each do |e| %>
	<li><%= e.tasks %> <%= e.finished %></li>
<% end %>
</ul>

<%= link_to 'Create A New Todo ->', todos_new_path %>



