<h2>Cats</h2>
<ul>
<% @cats.each do |e| %>
	<li>Name: <%= e.name %></li>
<% end %>
</ul>

<h2>Users</h2>
<ul>
<% @users.each do |e| %>
	<%= e.name %>
	<ul>
		<li>Email: <%= e.email %></li>
		<li>Age: <%= e.age %></li>
	</ul>
<% end %>
</ul>

<h2>Todo List</h2>
<p>Tasks:</p>
<ul>
<% @todos.each do |e| %>
	<li><%= e.tasks %> <%= e.finished %></li>
<% end %>
</ul>

<%= link_to 'Create A New Todo ->', todos_new_path %>



